* {
    --col: rgb(54, 174, 74);
    --col0: rgb(91, 89, 90);
}

body {
    background-color: #313131;
    position: relative;
}

.main {
    width: 300px;
    height: 300px;
    background: linear-gradient( var(--col) 50%, rgb(67, 184, 87) 50%);
    position: absolute;
    left: calc(50% - 150px);
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    animation: move infinite 4s;
}

.main::before {
    content: '';
    width: 20px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: calc(50% - 10px);
    border-radius: 0 0 100px 100px;
    transform: rotate(35deg);
    transform-origin: top;
}

.main::after {
    content: '';
    width: 20px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: calc(50% - 10px);
    border-radius: 0 0 100px 100px;
    transform: rotate(-35deg);
    transform-origin: top;
}

.top {
    z-index: 10;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to right, transparent 25%, var(--col0) 25% 75%, transparent 75%), radial-gradient(var(--col) 0% 60%, transparent 60%), radial-gradient( var(--col0) 40% 100%), linear-gradient(to top right, transparent 50%, var(--col0) 50%), linear-gradient(to top left, transparent 50%, var(--col0) 50%), linear-gradient(to top right, rgba(133, 133, 133, 0.5) 50%, transparent 50%);
    background-size: 60px 20px, 30px 30px, 60px 35px, 30px 30px, 30px 30px, 60px 50px;
    background-position: 95px 15px, 110px 38px, 95px 35px, 95px 70px, 125px 70px, 140px 18px;
    background-repeat: no-repeat;
}

.top::before {
    content: '';
    width: 120px;
    height: 120px;
    top: 55px;
    left: 70px;
    position: absolute;
    background-color: red;
    background-color: transparent;
    border-right: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    border-radius: 0 0 80% 0;
    transform: rotate(18deg);
}

@keyframes move {
    0%{
        transform: rotate(-30deg);

    }
    50% {
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);

    }
}
 